body {
    background-color: #192733;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    background-color: #181e29;
    margin-top: 60px;
}

  .header {
    text-align: center;
  }

  .image {
    width: 25em;
    height: 25em;
    margin-bottom: 20px;
  }

  .message {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top:-20px;
  }

  .button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  
}
a {color:white;
  text-decoration: none;
  cursor: pointer;}

  header {
    background-color: #181e29;
    height: 10.5vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #385171 /* Adiciona a borda branca fina na parte inferior */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
}
logo img {
        width: 500px;
    }
img {
    border-radius: 10px;
}
img:hover {
  transform: scale(1.05);
}
svg.base-icon-svg.tw-block.tw-cursor-pointer {
    width: 26em;
    height: 3em;
    margin-top: 1.2vh;
}
svg.base-icon-svg.tw-block.tw-cursor-pointer:img {transform: scale(1.05);
}

@media (max-width: 768px) {
    
    ::-webkit-scrollbar {
        width: 10px;
        height:2px;
    }

    header {
        height:7vh;
    
    }
 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
}
    img {
        width: 400px;
    }
    .container {
    width: 100%;
    margin: 0 auto;
    background-color: #181e29;
    margin-top: 60px;
}
    svg.base-icon-svg.tw-block.tw-cursor-pointer {
    width: 5em;
    height: 1.5em;
    margin-top: 1.2vh;
}
}
