body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        #background-image {
            background-image: url('https://assets.gmlinteractive.com/2023/03/TVC_CS_GATES-2048x1152-English.jpg');
            background-size: cover;
            background-position: center;
            height: 70vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        #foreground-image {
            background-color:#181e29;
            background-size: cover;
            background-position: center;
            height: 30vh; /* Os 20% restantes da tela */
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }

        .btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #385171;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none
}
.btn:hover {
    background-color: #05172f; /* Cor de fundo alterada quando o mouse passa por cima */
}
a btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #385171;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none
}
a btn:hover {
    background-color: #05172f; /* Cor de fundo alterada quando o mouse passa por cima */
}
h2{margin-top: -2hv;}
h6 {
    margin-top: -2vh;
}
img {
    margin-top: -2vh;
}
